table{
    border-radius: 12px;
    border-collapse: collapse;
    overflow: hidden;
    background: rgba(255,0,0,0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,0,0);
    box-shadow: 0 4px 20px rgba(255,0,0.02);

    th {
        background: rgba(255,0,0,0.15);
        color: white;
        font-weight: 700;
        font-size: 0.8rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 10px 20px;
    }

    td {
        padding: 8px 20px;
        color: rgba(255,0,0,0.8);
        border-bottom: 1px solid rgba(255,0,0,0.08);
        font-size: 0.9rem;
    }

    tbody tr:last-child td {
        border-bottom: none;
    }

    tbody tr:hover td {
        background: rgba(255,0,0, 0.05);
    }

    tbody tr:first-child td {
        color: rgba(255,0,0);
        font-weight: 700;
    }
}